<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'login.css' %}">
    <title>Login</title>
</head>
<body>

    <div class="box">
        <div class="container">
            <form method="post">
                {% csrf_token %}
                <label for="Username">Username:</label><br>
                <input type="text" id="Username" name="username" required><br><br>
                <label for="Password">Password:</label><br>
                <input type="password" id="Password" name="password" minlength="4" required><br><br>
                <input type="submit" id="submit">
            </form>
        </div>
    </div>

</body>
</html>
