<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{% static 'base.css' %}">
    <title>Main</title>
</head>
<body>
    <div class="navbar">
        <div class="text-section">
                <h1>ONLINE QUIZ 
                    <i class="fa-solid fa-bars"></i>
                </h1>
            <button>Logout</button>
        </div>
    </div>

    <div class="menu-bar">
        <div class="profile">
            <img src="./michael-dam-mEZ3PoFGs_k-unsplash.jpg" width="100px" alt="">
            <h2>Admin</h2>
        </div>
        <div class="menu">
            <a href="main.html">Home</a>
            <a href="quiz.html">Quiz</a>
            <a href="result.html">Result</a>
            <a href="profile.html">Profile</a>
        </div>

        <div class="main-section">
            <a href="">
                <div class="main-content1">
                    <h2>Administrator</h2>
                    <i class="fa-solid fa-user-tie"></i>
                </div>
            </a>
            <a href="">
                <div class="main-content2">
                    <h2>Teacher</h2>
                    <i class="fa-solid fa-chalkboard-user"></i>
                </div>
            </a>
            <a href="">
                <div class="main-content3">
                    <h2>Students</h2>
                    <i class="fa-solid fa-users"></i>
                </div>
            </a>
        </div>
        
    </div>

</body>
</html>